<div class="hero-container text-center position-relative mb-3 rounded-5">
  <div class="col"><%= image_tag "Logo.png", alt: "logo babylog", class:"avatar" %></div>
  <p class="fw-semibold fs-4">Numéros d'Urgence</p>
</div>

 <div class="urgence-grid">
    <div class="urg-card">
      <i class="fa-solid fa-phone-volume urg-icon"></i>
      <span class="urg-number">15</span>
      <span class="urg-label">SAMU</span>
    </div>
    <div class="urg-card">
      <i class="fa-solid fa-phone-volume urg-icon"></i>
      <span class="urg-number">112</span>
      <span class="urg-label">SAMU Européen</span>
    </div>
    <div class="urg-card">
      <i class="fa-solid fa-phone-volume urg-icon"></i>
      <span class="urg-number">18</span>
      <span class="urg-label">Pompiers</span>
    </div>
    <div class="urg-card">
      <i class="fa-solid fa-phone-volume urg-icon"></i>
      <span class="urg-number">17</span>
      <span class="urg-label">Police</span>
    </div>
    <div class="urg-card urg-card--wide">
      <i class="fa-solid fa-phone-volume urg-icon"></i>
      <span class="urg-label urg-label--lg">Médecin traitant</span>
    </div>
    <div class="urg-card urg-card--wide urg-card--add">
      <i class="fa-solid fa-plus urg-icon"></i>
      <span class="urg-label urg-label--lg">Ajouter un numéro</span>
    </div>
  </div>
</div>
