<div class="hero-container text-center position-relative mb-3 rounded-5">
  <div class="col"><%= image_tag "Logo.png", alt: "logo babylog", class:"avatar" %></div>
  <p class="fw-semibold fs-4">Numéros d'Urgence</p>
</div>

<div class="container text-center">
  <div class="card-emergency rounded-5 mb-3"><p class= "text-color"><i class="fa-solid fa-phone-volume"></i> - SAMU - 15</p></div>
    <div class="card-emergency rounded-5 mb-3"><p class= "text-color"><i class="fa-solid fa-phone-volume"></i> - SAMU Européen - 112</p></div>
  <div class="card-emergency rounded-5 mb-3"><p class= "text-color"><i class="fa-solid fa-phone-volume"></i> - Pompiers - 18</p></div>
  <div class="card-emergency rounded-5 mb-3"><p class= "text-color"><i class="fa-solid fa-phone-volume"></i> - Police - 17</p></div>
  <div class="card-emergency rounded-5 mb-3"><p class= "text-color"><i class="fa-solid fa-phone-volume"></i> - Médecin traitant</p></div>
    <div class="card-emergency rounded-5 mb-3"><p class= "text-color"><i class="fa-solid fa-phone-volume"></i> + Ajouter un numéro</p></div>
</div>
